# Dependencies
node_modules

# Git
.git
.gitignore

# Docker files
Dockerfile
.dockerignore

# Environment files
.env
.env.*

# Logs
*.log
npm-debug.log*

# Docs
README.md

# Pipeline file
azure-pipelines.yaml

# OS / IDE
.DS_Store
Thumbs.db
.vscode
.idea

# Test / cache
coverage
.cache